
header{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.links{
    list-style:none;
    margin:10px;
    flex-direction: row;
    display:flex;
    justify-content: flex-end;
    gap:12px;
}